<%- include('header_inside') -%>
<%- include('navbar') -%>

<br/><br/><br/>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="alter alert-success text-center black">
            <h1> 
                You are a <%= usertype %> user.
            </h1>
        </div> 
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col " >
        <ul class="list-group list-group-flush"  style="width: fit-content;text-align: left;">
            <li class="list-group-item">
                <% if(locals.git == "YES" ) { %>
                            <img src="/assets/OK.jpg" style="width: 25px;">&nbsp;GitHub Configured on <small><%= locals.gittime %></small></img>
                <% } else { %> 
                            <img src="/assets/NOK.jpg" style="width: 25px;">&nbsp;GitHub Not Configured</img>
                 <% }  %> 
            </li>
            <li class="list-group-item">
                <% if(locals.tf == "YES" ) { %>
                    <img src="/assets/OK.jpg" style="width: 25px;">&nbsp;Terraform Configured on <small><%= locals.tftime %></small></img>
                <% } else { %> 
                            <img src="/assets/NOK.jpg" style="width: 25px;">&nbsp;Terraform Not Configured</img>
                <% }  %>
            </li>
            <li class="list-group-item">
                <% if(locals.cloud == "YES" ) { %>
                    <img src="/assets/OK.jpg" style="width: 25px;">&nbsp;Cloud Configured on <small><%= locals.cloudtime %></small></img>
                <% } else { %> 
                            <img src="/assets/NOK.jpg" style="width: 25px;">&nbsp;Cloud Not Configured</img>
                <% }  %>        
            </li>
        </ul>
      </div>
      <div class="col">
        <div class="container mt-1" style="height: 20rem;width: 20rem;">
            <h4 class="mb-4">Configuration Status</h4>
            <canvas id="myChart" data-chart-data="<%= JSON.stringify(locals.data) %>" ></canvas>
        </div>
      </div>
    </div>
  </div>
 



  





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Retrieve the data attribute from the canvas element
        const canvas = document.getElementById('myChart');
        const chartData = JSON.parse(canvas.getAttribute('data-chart-data'));

        // Now use the data to create the chart
        var ctx = canvas.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['GitHub', 'Terraform', 'CSP'],
                datasets: [{
                    label: 'ConfigData. 33 is Good. Value -> ',
                    data: chartData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>
        


<%- include('footer') -%>