<%- include('layout.ejs'); %>

<div class="container">
    <div class="row justify-content-center">
        <h3>Catalogue for <%= locals.user %></h3> <br/><br/>
    </div>
    <div>
        Display all deployments : <%= locals.status %>
        <ul>
            <% locals.status.forEach(run => { %>
                <li>Run ID: <%= run.id %>, Status: <%= run.attributes.status %></li>
            <% }); %>
        </ul>
    </div>
</div>