<%- include('layout.ejs'); %>
<br />
<div class="container">
    <div class="card">
        <div class="card-header"><%= locals.repo.replace(/-/gi,' ') %></div>
        <div class="card-body">
            <form  method="post" action="/createcloudresource">
                <input type="text" name="reponame" value=<%= locals.repo %> hidden >
                <% locals.variable.split(/}/).forEach(tfvar => { %>
                    <% cont=(tfvar.replace(/"|\{|\=|type|variable|description/g,""))
                       label=cont.split(" ")[1]
                       description=cont.split(" ")[6]
                    %>
                        <% if ( label ) {%>
                        <div class="row mb-3">
                            <label for="catalogue" class="col-sm-2 col-form-label"><%= (label.replace(/_/gi," ")).toUpperCase()  %></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name=<%=label%> id=<%=label%> placeholder=<%- description.replace(/_/gi,"&nbsp;")  %> >
                                </div>
                        </div>
                <% }}); %>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>            
</div>
</body>
</html>